<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Latest compiled and minified CSS -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
            integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8="
            crossorigin="anonymous"
    ></script>
</head>
<body>
<div class="container">
    <div
            class="center-block form alert alert-info col-md-6"
            style="margin-left: 100px; margin-right: 100px;"
    >
        <div class="row">
            <div class="col-md-12">
                <h1>Ärendet skapat</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Ärendenummret är : <label th:text="${arende.arendenummer}"></label></label>
                <p style="text-decoration: underline;" id="arennummer"></p>
            </div>
            <div class="col-md-12">
                <a class="btn btn-primary" href="/register" role="button"
                >Skapa ett till ärende</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>
